body {
    text-align: center;
    background-color: rgb(63, 87, 138);
}

header {
    background-color: rgb(11, 65, 109);
    font-size: 1.5em;
    color: rgba(245, 245, 245, 0);
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.4em;
}

img {
    border-radius: 50%;
}

p {
    font-size: 1.2em;
    font-weight: bold;
}

li {
    font-weight: 800;
}